<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Курси програмування</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Курси програмування</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Головна</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <h1     class="text-center">Редагування курсу {{ course.course_name }}</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
            <li class="alert alert-info" role="alert">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <section class = "d-flex justify-content-center" >
        <form class="needs-validation col-6 text-center" action="#" method="POST" enctype="multipart/form-data" >
          <div class="mb-3">
            <label class="form-label" for="course_name">Назва курсу</label>
            <input value="{{course.course_name}}" type="text" id = "course_name" name="course_name" class="form-control" placeholder="Назва курсу" aria-label="Username" aria-describedby="basic-addon1">
          </div>  
          <div class="mb-3"> 
            <label class="form-label" for="description">Опис курсу</label>
            <textarea name="description" id="description"  placeholder="Опис" rows="12" class="form-control">{{course.description}}</textarea>
          </div>
          <div class="mb-1">
            <label class="form-label" for="start_data">Початок курсу</label>
            <input value="{{course.start_data}}" type="date" id = "start_data" name="start_data" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="mb-1">
            <label class="form-label" for="finish_data">Кінець курсу</label>
            <input value="{{course.finish_data}}" type="date" id = "finish_data" name="finish_data" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <button class="btn btn-primary" type="submit">Зберегти зміни</button>
        </form>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>